:root {
  --blue--:royalblue;
}      
           /* ********************* navbar ************************* */
#logo img {
  max-width: 100px;     
  height: 30px;           
  display: block; 
  margin-left: 30px;  
   
}
.brand-name{
    color: var(--blue--);
    font-size: larger;
    font-weight: bold;
}


    .navdiv{ 
        display: flex;
         align-items: center;
          justify-content: space-between;
          display: inline-flex;
          text-decoration: none;
          width: 88%;
          margin-left: 70px;
          height: 100px;

    }
    .navdiv ul {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        gap: 30px;
       list-style: none;
       margin-left: 10PX;
       font-size: 18px;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    }
   
    
    /* ***************************** logo with text **************************************** */
   


.bull{
height:570px;
 display: flex;
 margin-left: 80px;
  }

  .para {
     padding-top: 50px;
     width: 490px;
     height: 340px;
     font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    margin-top: 150px;
}

.para h1{
    padding-top: -20px;
    margin-top: -40px;
    font-size: 50px;
    margin-bottom: 30px;    
}
   
.car-img{
    /* border: solid 5px; */
    border-radius: 30px;
    /* border-color: black; */
    height: 340px;
    margin-top: 60px;
    margin-left: 60px;
    padding-top: 60px;
    display: flex;
}

                          /* ***************** 3 box div ********************************  */
.main-div{
    display: flex;
    height: 100px;
    border: 1px solid black;
    width: 82%;
    margin-left: 120px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
}

   .main-div img{
    max-width: 100px;
    height: 50px;
    margin-left: 20px;
    margin-top: 22px;
}
.text-image{
    margin-left: 10px;
    height: 10px;
    
}
                        /* ********************* second page ******************************* */
.second-page{
    display: flex;
    gap: 120px;
    margin-left: 200px;
    width: 75%;
}
.temp img{
    margin-left: 70px;
}
.temp p {
    text-align: center;
}

     /* ********************************* third-page ******************************* */
.third-page{
    display: inline-flex;
    border: 5px solidblack;
}
     
     .small button{
        height:60px;
        width: 38%;
        margin-top: 50px;
        margin-left: 5px;
        background-color: #e8f1fb;
        border: none;
        color:var(--blue--);
        font-size: 17px;
        font-weight: bold;
     }
     .small h1{
        text-align: start ;
        text-align: left;
     }

     .jump img{
        max-width: 80%;
        height: 400px;
        /* margin-top: 100px; */
        
     }

.walid img{
    margin-top: 30px;
    max-width: 100px;
    height: 80px;
}



             /* ***************************** fourth-page ******************************* */

                             /* ********** cards *********** */

  .cards{
    display:inline-block;
  }      

#single{
 
    width: 23%;
    height: 500px;
    display: inline-block;
    margin-left: 15px;
    box-shadow: 0px 0px 10px black;
    margin-top: 30px;
  
}
.cards {
    margin-top: 20px;
}

  /* ************************* fifth page ******************** */

  .fifth-page{
    display: inline-block;
    display: flex;
  
  }
  .f-two{
    margin-top: 30px;
    display: flex;
    border: 1px solid black;
    max-width: 46%;
    height: 300px;
margin-left: 15px;
box-shadow: 0px 0px 20px royalblue;
    
  }
  .f-two img {
    height: 300px;
    /* margin-top: 80px; */
    border-radius: 15px;
  }
  /* copy */
    .f-twoo{
    margin-top: 30px;
    display: flex;
    border: 1px solid black;
    max-width: 46%;
    height: 300px;
margin-left: 15px;
box-shadow: 0px 0px 20px royalblue;
    
  }
  .f-twoo img {
    height: 300px;
    
    border-radius: 15px;
  }
  .test{
    margin-left: 20px;
  }

 

            /* ******************** footerrrr ******************************* */

      
 .footer{
    display: inline-block;
    display: flex;
    gap: 80px;
 
    width: 100%;     
          
  text-align: center;   
  background-color: black; 
  color: white;
  position: relative; 
  border-radius: 30px;
  border: 3px solid transparent;
  border-color: royalblue;
  box-shadow:inset 0 0 40px 15px rgba(65,105,225,0.5);
 }
 .links{
  margin-top: 40px;
  margin-left: 30px;
  height: 150px;
 }
 .about-us{
  margin-top: -10px;
 }

 #para p{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: black;
    font: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .follow-us{
  margin-top: 50px;
   font-weight: bold
 }
 /* ************************** last page ****************************************** */
 .test{
    margin-left: 20px;
  }

  .download{

    margin-left: 150px;margin-top: 30px; width: 25%; font-weight: bold;background-color: #e0edfb;
                color: royalblue;height: 50px;border: none;
                 border-radius:10px ; font-size: large;
  }
  .last{
    display: inline-block; display: flex;
  }
  .oneee{margin-left: 150px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.pee{margin-left: 150px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.last img{margin-left: 150px;}
.fot{display: flex; }

 /* ******************************* some buttons css ************************************ */
 .main-div .search{
  height: 50px; margin-top: 20px;  margin-left: 70px;
       margin-right: 10px; width: 12%; border-radius: 10px; background-color: royalblue; color:white
 }

 .how {margin-left: 530px;height: 50px;width: 15%;font-size: 20px;border: none;font-weight: bold;
           border-radius: 10px; background-color: #e8f1fb; color: royalblue;}


.walid{display: flex;}

.popular{
  margin-left: 450px;height: 50px;width: 30%;font-size: 20px;border: none;font-weight: bold;
           border-radius: 10px; background-color: #e8f1fb; color: royalblue;
}

.rent{
  margin-left: 20px;margin-top: 30px; width: 90%; background-color: royalblue;
                color: white;height: 40px; border: none; font-size: large;
}

.vehicles{
  margin-left: 500px;margin-top: 30px; width: 20%; box-shadow: 0px 0px 10px black;
                color: black;height: 60px; border-radius:10px ; font-size: large;
}

.testi{margin-left: 500px;margin-top: 30px; width: 20%; font-weight: bold;
 box-shadow: 0px 0px 10px black;background-color: #e0edfb;
                color: royalblue;height: 60px; border-radius:10px ; font-size: large;}

/* ********************************************************************************************************** */

@media (min-width: 900px){
.navbarak{display: none;}
}


 /* MOBILE: max-width 530px */
@media screen and (max-width: 550px) {
 

    nav.navbar ul {
        display: none !important;
    }

    nav.navbar .btns {
        display: none !important;    
    }
    #logo img{
      display: none;
    }
   
/* **************** */
.navbarak {
  position: relative;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px black;
}

.navdiv #logoak img {
  width: 20px; 
  margin-left: -50px;
}

.navigtion {
  position: relative;
}

.nav-button {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 25px;
  position: relative;

}

.nav-button .nav-icon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background: black;
  display: block;
 
}

.nav-button .nav-icon::before,
.nav-button .nav-icon::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: black;
}

.nav-button .nav-icon::before {
  top: -10px;
}

.nav-button .nav-icon::after {
  bottom: -10px;
}


.navigtion ul,
.navigtion button {
  display: none;
  flex-direction: column;
  margin-top: 10px;
}


.bull{
  display: block;
  margin-left: 20px;
}
 .car-img{
  height: 300px;
  margin-top: -100px;
  margin-left: 30px;
 }
 
 .main-div{
  display: flex;
    flex-direction: column;   
    gap: 195px;                
    width: 100%;
    padding: 10px;
    border: none;
    box-shadow: none;


 }
 .main-div img {
    width: 50px;
    height: 50px;

  }

  .text-image h3,
  .text-image p {
    margin: 0;
    margin-left: 10px;
  }

  .text-image {
    margin-bottom: 10px; 
    margin-left: -110px;    
  }




.main-div .search {
  margin-top: 80px;
  width: 50%;
}


.how{
  margin-left: 35%;
  height: 100px;
  width: 40%;
}
.second-page{
  display: flex;
  justify-content: center; 
  align-items: center;  
  gap: 20px;
  flex-wrap: wrap;
  margin: 80px;
}
.temp p{
  margin-left: 10%;
}
/* *************************************** */
.third-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px; 
  flex-wrap: wrap; 
  padding: 50px 20px;
}



 .jump img {
  max-width: 100%;
  width: 1000px !important;
  
}

.third-page .small {
 
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.third-page .small button {
  background-color: royalblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  width: 250px;
  margin-left: 100px;
}

.third-page .small h1 {
  margin: 10px;
}

.third-page .walid {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.third-page .walid img {
  width: 50px; 
  height: 50px;
}

.popular{
  margin-left: 20px;
  height: 100px;
  width: 300px;
}





#single{
   display: flex;
  justify-content: center; 
  gap: 20px;               
  flex-wrap: wrap;        
  width: 450px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.single > .cards {
  flex: 1 1 200px;  
  min-width: 180px;
}

.vehicles{
  margin-left: 90px;
  height: 100px;
  width:300px;

}


.testi{
   margin-left: 90px;
  height: 100px;
  width:300px;
}
.fifth-page{
   display: flex;
  justify-content: center; 
  gap: 0px;         
  flex-wrap: wrap;        
  padding: 20px;
  box-sizing: border-box;
}
.f-two{
   
   display: block;

border: 5px solid black;
height: 600px;
max-width: 400px;
}
.f-twoo{
   margin-top: 300px;
   display: block;
border: 5px solid black;
height: 600px;
max-width: 400px;
}
.f-two img{
  width: 400px;
}
.f-twoo img{
  width: 400px;
}
.last{
  display: flex;
  display: inline-block;
  margin-left: -60px;
  
}
.fot{margin-top: 40px;
margin-left: -100px;}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}


.footer > div {
  flex: 1 1 200px;   
  min-width: 180px;
}


}







@media (max-width: 980px) {

    nav.navbar ul {
        display: none !important;
    }

    nav.navbar .btns {
        display: none !important;    
    }

    #logo img {
      display: none;
    }

    /* **************** */
.navbarak {
  position: relative;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px black;
}

.navdiv #logoak img {
  width: 20px; 
  margin-left: -50px;
}

.navigtion {
  position: relative;
}

.nav-button {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 25px;
  position: relative;

}

.nav-button .nav-icon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background: black;
  display: block;
 
}

.nav-button .nav-icon::before,
.nav-button .nav-icon::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: black;
}

.nav-button .nav-icon::before {
  top: -10px;
}

.nav-button .nav-icon::after {
  bottom: -10px;
}


.navigtion ul,
.navigtion button {
  display: none;
  flex-direction: column;
  margin-top: 10px;
}


    .bull{
  display: block;
  margin-left: 20px;
}
 .car-img{
   height: 300px;
  margin-top: -100px;
  margin-left: 30px; 
 
 }
 
  .main-div{
  display: block;
  margin-top: 200px;
  width: 30%; height: 600px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 20px; 
  padding: 20px;
  text-align: center;

 }
.main-div .search {
  margin-top: 80px;
  width: 50%;

}
.main-div img{
margin-left: 100px;
}
.main-div .text-image{
  margin-left: 70px;
}

.how{
  margin-left: 35%;
  height: 100px;
  width: 40%;
}
.second-page{
  display: flex;
  justify-content: center; 
  align-items: center;  
  gap: 20px;
  flex-wrap: wrap;
  margin: 80px;
}
.temp p{
  margin-left: 10%;
}

.third-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px; 
  flex-wrap: wrap; 
  padding: 50px 20px;
}



 .jump img {
  max-width: 100%;
  width: 1000px !important;
  
}

.third-page .small {
 
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.third-page .small button {
  background-color: royalblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  width: 250px;
  margin-left: 100px;
}

.third-page .small h1 {
  margin: 10px;
}

.third-page .walid {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.third-page .walid img {
  width: 50px;
  height: 50px;
}

.popular{
  margin-left: 120px;
  height: 100px;
  width: 400px;
}



#single{
   display: flex;
  justify-content: center; 
  gap: 20px;               
  flex-wrap: wrap;        
  width: 450px;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

}
.single > .cards {
  flex: 1 1 200px;  
  min-width: 180px;
}

.vehicles{
  margin-left: 90px;
  height: 100px;
  width:300px;

}


.testi{
   margin-left: 90px;
  height: 100px;
  width:300px;
}
.fifth-page{
   display: flex;
  justify-content: center; 
  gap: 0px;         
  flex-wrap: wrap;        
  padding: 20px;
  box-sizing: border-box;
  margin-left: 20px;
}
.f-two{
   
   display: block;

border: 5px solid black;
height: 600px;
max-width: 400px;
}
.f-twoo{
   margin-top: 300px;
   display: block;
border: 5px solid black;
height: 600px;
max-width: 400px;
}
.f-two img{
  width: 400px;
}
.f-twoo img{
  width: 400px;
}
.last{
  display: flex;
  display: inline-block;
  margin-left: -60px;
  
}
.fot{margin-top: 40px;
margin-left: -70px;}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}


.footer > div {
  flex: 1 1 200px;  
  min-width: 180px;
}


}







